<form #f="ngForm" (ngSubmit)="searchSite(f)">
  <p> <label>Select Category </label>
    <select [(ngModel)]="selectedCategory" name="category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.title}}</option>
    </select>
  </p>
  <p> <label>Enter ID: </label>
    <input type="number" [(ngModel)]="selectedId" name="selectedId">
  </p>
    <button class="button"> <span>Submit</span> </button>
</form>

<p> {{this.categoryFound.name}}</p>
