<h1>StarWars Search</h1>

<div class="container">
  <app-searchbar></app-searchbar>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
