.container {
  display: block;
  padding: 10px;
  clear: both;
}
.footer  {
  display: block;
  padding: 10px;
  float: left;
}

h1 {
  color: #999999;
  font-family: arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}
